# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Database
db.sqlite3

# Media (nếu không muốn upload ảnh người dùng)
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
